
.vs/Project1/v14/.suo
*.db
Project1/x64/Release/Camera.obj
Project1/x64/Release/Flying.obj
Project1/Project1.vcxproj
Project1/Project1.vcxproj.filters
Project1/x64/Release/Camera.obj
Project1/x64/Release/Gameobject.obj
Project1/x64/Release/main.obj
Project1/x64/Release/MonoBehaviour.obj
Project1/x64/Release/Object.obj
*.log
*.tlog
*.pdb
*.iobj
*.exe
*.pdb
*.vcxproj
Project1/x64/Release/Camera.obj
Project1/x64/Release/Gameobject.obj
